﻿@model Task24.Models.Supervisor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddSupervisorConfirmation</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>
    <div class="SeeList">
        <div class="TitleSeeList">
            @Model.Name has been added to the current supervisor list with the id number: @Model.Id.ToString(),
            availability @Model.IsAvailable.ToString() and subject @Model.Subject
            <hr />
        </div>
        <a asp-action="AllSupervisors"> View all supervisors</a> <br />
        <a asp-action="SNameView"> View supervisors whose name start with the letter s</a>

    </div>
</body>
</html>
