﻿@model List<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllSupervisors</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
    <body>
        <h1>These are the supervisors in the list:</h1> <br />
        <div>
            @foreach (string supervisor in Model)
            {
                <div class="AllSup">
                    @supervisor
                    <hr />
                </div>
            }
        </div>
    </body>
</html>
