﻿@model Task24.Models.Supervisor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>
       <header class="titlePage">
         <h1 class="SupTitle"> Add a supervisor</h1> <br />
       </header>

       <form class="myForm" asp-action="SupervisorInfo" method="post">
           <div class="errorMsg" asp-validation-summary="All"></div>
           <div class="iInput">
               <label class="idInput" asp-for="Id">Supervisor id: </label><br />
               <input class="input-lg" placeholder="Enter an id" asp-for="Id" /><br />
               <hr />
           </div>

           <div class="nInput">
               <label class="nameInput" asp-for="Name"> Supervisor name: </label><br />
               <input class="input-lg" placeholder="Enter a name" asp-for="Name" /> <br />
               <hr />
           </div>

           <div class="bInput">
               <label class="boolInput" asp-for="IsAvailable"> Supervisor available: </label><br />
               <input class="input-lg" placeholder="Choose" asp-for="IsAvailable" /> <br />
               <hr />
           </div>

           <div class="subInput">
               <label class="subjectInput" asp-for="Subject"> Supervisor subject: </label><br />
               <input class="input-lg" placeholder="Write a subject" asp-for="Subject" /> <br />
               <hr />
           </div>

           <button class="addSupBtn" type="submit"> Add supervisor </button>
       </form>
        <footer>
             Snapshot of the current time: @ViewBag.timeStamp <br />
        </footer>
</body>
</html>
