﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SNameView</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <h1 class="STitle"> These are the supervisors whose name starts with S</h1>
    <hr />
    @foreach (Supervisor supervisor in Model)
    {
        <div class="SList">
           Id: @supervisor.Id <br />
           Name: @supervisor.Name <br />
           Availability: @supervisor.IsAvailable <br />
           Subject: @supervisor.Subject <br />
            <hr />
        </div>
    }
</body>
</html>
