﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <div class="text-center">
        @foreach (Supervisor supervisor in Model)
        {
            <div>
                @supervisor
                <hr />
            </div>
        }
    </div>
</body>
</html>
